@keyframes customFadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 0.5em, 0); }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0); } }

@keyframes zoomOutElement {
  from {
    transform: scale(1) translate(0, 0); }
  to {
    transform: scale(4) translate(30px, -30px); } }

[data-querystring="cid=brand-story"] .content-page-image {
  display: none; }

@media (min-width: 992px) {
  [data-querystring="cid=brand-story"] .content-asset-container {
    max-width: none; } }

.brand-story-page {
  padding-bottom: 1.5em; }
  @media (min-width: 1600px) {
    .brand-story-page {
      padding-bottom: 3em; } }
  .brand-story-page p {
    font-weight: 200; }
  .brand-story-page .story-banner {
    position: relative;
    z-index: 1;
    margin-left: -15px;
    margin-right: -15px; }
    @media (min-width: 1600px) {
      .brand-story-page .story-banner picture,
      .brand-story-page .story-banner img {
        width: 100%; } }
    .brand-story-page .story-banner h5 {
      font-size: 1.1429rem;
      font-weight: 200;
      margin-bottom: 0; }
      @media (min-width: 1600px) {
        .brand-story-page .story-banner h5 {
          font-size: 1.314rem; } }
    .brand-story-page .story-banner h1 {
      font-size: 3.5714rem;
      font-weight: 100;
      margin-bottom: 0;
      font-weight: normal; }
      @media (min-width: 1600px) {
        .brand-story-page .story-banner h1 {
          font-size: 4.286rem; } }
    .brand-story-page .story-banner .banner-info {
      position: absolute;
      z-index: 1;
      left: 3.286em;
      bottom: 3.571em; }
      @media (min-width: 992px) {
        .brand-story-page .story-banner .banner-info {
          bottom: auto;
          top: 25%;
          left: 14%; } }
  .brand-story-page .story-history {
    background-color: #fff;
    position: relative;
    z-index: 2;
    margin-left: auto;
    margin-right: auto;
    padding: 2.1em 0.714em 3em;
    text-transform: uppercase;
    margin-top: -6em;
    max-width: 1140px; }
    @media (min-width: 1600px) {
      .brand-story-page .story-history {
        max-width: 1600px; } }
    .brand-story-page .story-history ul {
      display: -ms-flexbox;
      display: flex;
      display: -ms-flex;
      position: relative;
      padding-left: 0;
      margin-bottom: 0;
      -ms-flex-pack: center;
          justify-content: center; }
      .brand-story-page .story-history ul::before {
        content: '';
        position: absolute;
        height: 1px;
        left: 0;
        right: 0;
        top: 100%;
        background-color: #000;
        margin-top: 0.645em;
        z-index: 1; }
      .brand-story-page .story-history ul li {
        list-style: none;
        position: relative;
        -ms-flex: 0 0 11.11111%;
            flex: 0 0 11.11111%;
        text-align: center;
        max-width: 11.11111%; }
        .brand-story-page .story-history ul li:first-child {
          font-weight: bold; }
          .brand-story-page .story-history ul li:first-child::before {
            content: '';
            position: absolute;
            background-color: #fff;
            height: 1px;
            left: 0;
            z-index: 2;
            top: 100%;
            width: calc(50% - 0.5em);
            margin-top: 0.645em; }
          .brand-story-page .story-history ul li:first-child a::before {
            width: 1em;
            height: 1em;
            margin-top: 0.2em; }
        .brand-story-page .story-history ul li:last-child::before {
          content: '';
          position: absolute;
          background-color: #fff;
          height: 1px;
          right: 0;
          top: 100%;
          width: calc(50% - 0.214em);
          z-index: 2;
          margin-top: 0.645em; }
        .brand-story-page .story-history ul li a {
          position: relative; }
          .brand-story-page .story-history ul li a::before {
            content: '';
            position: absolute;
            top: 100%;
            left: 50%;
            width: 0.428em;
            height: 0.428em;
            background-color: #000;
            margin-top: 0.5em;
            border-radius: 50%;
            transform: translateX(-50%); }
          .brand-story-page .story-history ul li a::after {
            content: '';
            position: absolute;
            top: 100%;
            left: 50%;
            width: 0;
            background-color: #000;
            z-index: 1;
            height: 1px;
            transform: translate(-50%, -50%);
            transition: ease-in 0.3s; }
          .brand-story-page .story-history ul li a:hover::after, .brand-story-page .story-history ul li a:focus::after {
            width: 100%; }
  .brand-story-page .story-lifetime h2 {
    font-size: 2rem;
    letter-spacing: 0.1em;
    margin-top: 1.1em;
    margin-bottom: 2.143em; }
    @media (min-width: 768px) {
      .brand-story-page .story-lifetime h2 {
        margin-top: 0;
        margin-bottom: 1em; } }
    @media (min-width: 992px) {
      .brand-story-page .story-lifetime h2 {
        margin-bottom: 2.5em; } }
  .brand-story-page .story-first {
    position: relative;
    z-index: 2;
    margin-top: -2.857em; }
    @media (min-width: 768px) {
      .brand-story-page .story-first {
        margin-top: 6em; } }
    @media (min-width: 992px) {
      .brand-story-page .story-first {
        max-width: 940px;
        margin-left: auto;
        margin-right: auto; } }
    @media (min-width: 1200px) {
      .brand-story-page .story-first {
        max-width: 1140px; } }
    @media (min-width: 1600px) {
      .brand-story-page .story-first {
        max-width: 1600px; } }
    .brand-story-page .story-first .row-first {
      padding-bottom: 3.571em; }
      @media (min-width: 992px) {
        .brand-story-page .story-first .row-first {
          padding-bottom: 2.857em; } }
    .brand-story-page .story-first .section-title {
      font-weight: 500;
      font-size: 2.5714rem;
      background-color: #fff;
      padding: 0.4em 0.3em;
      margin-left: 0.3em;
      margin-right: 0.3em; }
      @media (min-width: 992px) {
        .brand-story-page .story-first .section-title {
          font-size: 3.429rem; } }
      @media (min-width: 1600px) {
        .brand-story-page .story-first .section-title {
          font-size: 4.114rem; } }
    .brand-story-page .story-first .row-second {
      padding-bottom: 4.286em; }
      .brand-story-page .story-first .row-second .col-md-6 {
        margin-bottom: 1.429em; }
      .brand-story-page .story-first .row-second h3 {
        font-size: 2rem;
        margin-bottom: 0.7143em; }
        @media (min-width: 992px) {
          .brand-story-page .story-first .row-second h3 {
            font-size: 1.886rem;
            margin-bottom: 3em; } }
        @media (min-width: 1600px) {
          .brand-story-page .story-first .row-second h3 {
            font-size: 2.357rem; } }
      .brand-story-page .story-first .row-second p {
        max-width: 75%; }
  .brand-story-page .story-second {
    position: relative;
    z-index: 1;
    margin-left: -15px;
    margin-right: -15px; }
    .brand-story-page .story-second .story-info {
      position: absolute;
      top: 1em;
      left: 1em;
      z-index: 1;
      font-weight: 500;
      color: #fff; }
      @media (min-width: 992px) {
        .brand-story-page .story-second .story-info {
          left: 20%; } }
    @media (min-width: 1600px) {
      .brand-story-page .story-second picture,
      .brand-story-page .story-second img {
        width: 100%; } }
    .brand-story-page .story-second h2 {
      font-size: 5rem;
      margin-bottom: 0.5em; }
      @media (min-width: 992px) {
        .brand-story-page .story-second h2 {
          font-size: 8.229rem;
          margin-bottom: 0.5em;
          line-height: 1; } }
      @media (min-width: 1600px) {
        .brand-story-page .story-second h2 {
          font-size: 10.857rem; } }
    .brand-story-page .story-second p {
      text-transform: uppercase;
      letter-spacing: 0.1em;
      max-width: 75%;
      margin-bottom: 0; }
      @media (min-width: 992px) {
        .brand-story-page .story-second p {
          font-size: 1.463rem;
          max-width: 42%; } }
      @media (min-width: 1600px) {
        .brand-story-page .story-second p {
          font-size: 1.829rem;
          max-width: 37%; } }
  .brand-story-page .story-third,
  .brand-story-page .story-fifth {
    position: relative;
    z-index: 2;
    margin-top: -2.143em; }
    @media (min-width: 1600px) {
      .brand-story-page .story-third,
      .brand-story-page .story-fifth {
        max-width: 1600px;
        margin-left: auto;
        margin-right: auto; } }
    .brand-story-page .story-third .row-first,
    .brand-story-page .story-fifth .row-first {
      padding-left: 1.429em;
      padding-right: 1.429em;
      margin-bottom: 3.214em; }
      @media (min-width: 992px) {
        .brand-story-page .story-third .row-first,
        .brand-story-page .story-fifth .row-first {
          text-align: center;
          margin-bottom: 2.723em; } }
    @media (min-width: 992px) {
      .brand-story-page .story-third .row-second,
      .brand-story-page .story-fifth .row-second {
        margin-bottom: 2.723em; } }
    .brand-story-page .story-third .row-second .items,
    .brand-story-page .story-fifth .row-second .items {
      margin-top: 1.786em; }
      @media (min-width: 768px) {
        .brand-story-page .story-third .row-second .items,
        .brand-story-page .story-fifth .row-second .items {
          margin-top: 0; } }
    .brand-story-page .story-third .row-third .items,
    .brand-story-page .story-fifth .row-third .items {
      margin-top: 1.5em; }
    .brand-story-page .story-third .row-third h3,
    .brand-story-page .story-fifth .row-third h3 {
      margin-bottom: 1.786em; }
    @media (min-width: 992px) {
      .brand-story-page .story-third .col-image,
      .brand-story-page .story-fifth .col-image {
        text-align: right; } }
  @media (min-width: 992px) {
    .brand-story-page .story-third .row-third .col-image {
      text-align: center; } }
  .brand-story-page .items h3 {
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 0.1em; }
  .brand-story-page .items p {
    font-weight: 200;
    max-width: 75%; }
  .brand-story-page .items .item {
    margin-bottom: 3.214em; }
  .brand-story-page .story-fourth {
    position: relative;
    margin-left: -15px;
    margin-right: -15px;
    margin-top: 1.5em; }
    @media (min-width: 768px) {
      .brand-story-page .story-fourth {
        margin-top: 5em; } }
    .brand-story-page .story-fourth .fourth-info {
      position: absolute;
      top: 0.5em;
      left: 1em;
      z-index: 1;
      font-weight: 500;
      color: #fff; }
      @media (min-width: 992px) {
        .brand-story-page .story-fourth .fourth-info {
          left: 20%;
          top: 30%; } }
    @media (min-width: 1600px) {
      .brand-story-page .story-fourth picture,
      .brand-story-page .story-fourth img {
        width: 100%; } }
    .brand-story-page .story-fourth h2 {
      font-size: 5rem;
      margin-bottom: 0.5em; }
      @media (min-width: 992px) {
        .brand-story-page .story-fourth h2 {
          font-size: 8.229rem;
          margin-bottom: 0.5em;
          line-height: 1; } }
      @media (min-width: 1600px) {
        .brand-story-page .story-fourth h2 {
          font-size: 10.857rem; } }
    .brand-story-page .story-fourth p {
      text-transform: uppercase;
      letter-spacing: 0.1em;
      max-width: 55%; }
      @media (min-width: 992px) {
        .brand-story-page .story-fourth p {
          font-size: 1.463rem;
          max-width: 33%;
          line-height: 1.4; } }
      @media (min-width: 1600px) {
        .brand-story-page .story-fourth p {
          font-size: 1.829rem;
          max-width: 37%; } }
  .brand-story-page .story-fifth .item {
    padding-left: 0.5em;
    padding-right: 0.5em; }
  @media (min-width: 992px) {
    .brand-story-page .story-fifth .row-first picture {
      max-width: 90%;
      margin-left: auto;
      margin-right: auto; } }
  .brand-story-page .story-sixth {
    position: relative;
    margin-bottom: 3em;
    margin-top: 1.5em;
    margin-left: -15px;
    margin-right: -15px; }
    @media (min-width: 768px) {
      .brand-story-page .story-sixth {
        margin-top: 5px; } }
    .brand-story-page .story-sixth .sixth-info {
      position: absolute;
      left: 50%;
      top: 50%;
      z-index: 1;
      text-align: center;
      transform: translate(-50%, -50%); }
      .brand-story-page .story-sixth .sixth-info img {
        max-width: 12em; }
    @media (min-width: 1600px) {
      .brand-story-page .story-sixth picture,
      .brand-story-page .story-sixth img {
        width: 100%; } }
    .brand-story-page .story-sixth h3 {
      font-size: 1.286rem;
      font-weight: 700;
      white-space: nowrap;
      text-transform: uppercase;
      letter-spacing: 0.1em; }
      @media (min-width: 1600px) {
        .brand-story-page .story-sixth h3 {
          font-size: 1.429em; } }
    .brand-story-page .story-sixth .btn-shop-now {
      color: #000;
      background-color: #fff;
      border: 2px solid #000;
      display: inline-block;
      text-transform: uppercase;
      font-weight: 700;
      padding: 5px 10px;
      border-radius: 0;
      background-color: #000;
      color: #fff;
      color: #fff !important;
      margin-top: 2em;
      font-size: 0.929rem;
      letter-spacing: 0.1em;
      min-width: 11.857em; }
      .brand-story-page .story-sixth .btn-shop-now:hover, .brand-story-page .story-sixth .btn-shop-now:focus {
        background-color: #000; }
      @media (min-width: 1600px) {
        .brand-story-page .story-sixth .btn-shop-now {
          min-width: 15.714em;
          font-size: 1rem; } }
  .brand-story-page .story-seventh {
    margin-left: -15px;
    margin-right: -15px;
    text-align: center; }

.beaches-lading {
  font-weight: 200; }
  .beaches-lading .sub-title {
    font-weight: 200;
    font-size: 1.4286rem; }
    @media (min-width: 1600px) {
      .beaches-lading .sub-title {
        font-size: 1.7857rem; } }
  .beaches-lading .title {
    font-weight: 100;
    font-size: 4.071rem;
    line-height: 1; }
    @media (min-width: 1600px) {
      .beaches-lading .title {
        font-size: 5.21rem; } }
  .beaches-lading .section {
    position: relative;
    z-index: 2;
    margin-top: -1.429em; }
  .beaches-lading .has-animation.load-animation .section-text h3,
  .beaches-lading .has-animation.load-animation .section-text h2 {
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-name: customFadeInUp;
    opacity: 1;
    filter: alpha(opacity=1); }
  .beaches-lading .has-animation.load-animation .section-text h3 {
    animation-delay: 0.2s; }
  .beaches-lading .has-animation.load-animation .section-text h2 {
    animation-delay: 0.4s; }
  .beaches-lading .has-animation.load-animation .product .information,
  .beaches-lading .has-animation.load-animation .product .description {
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-name: customFadeInUp;
    opacity: 1;
    filter: alpha(opacity=1); }
  .beaches-lading .has-animation.load-animation .product .information {
    animation-delay: 0.2s; }
    @media (min-width: 992px) {
      .beaches-lading .has-animation.load-animation .product .information {
        animation-delay: 0.6s; } }
  .beaches-lading .has-animation.load-animation .product .description {
    animation-delay: 0.4s; }
    @media (min-width: 992px) {
      .beaches-lading .has-animation.load-animation .product .description {
        animation-delay: 0.8s; } }
  .beaches-lading .has-animation .section-text h3,
  .beaches-lading .has-animation .section-text h2 {
    opacity: 0;
    filter: alpha(opacity=0); }
  .beaches-lading .has-animation .product .information,
  .beaches-lading .has-animation .product .description {
    opacity: 0;
    filter: alpha(opacity=0); }
  .beaches-lading .section-banner {
    min-height: 640px;
    z-index: 1; }
    .beaches-lading .section-banner .sub-title {
      font-size: 1.5714rem; }
    .beaches-lading .section-banner .title {
      font-weight: 500; }
    .beaches-lading .section-banner .section-text {
      position: absolute;
      bottom: 80px;
      left: 1.429em;
      right: 1.429em; }
  .beaches-lading .section-1 {
    min-height: 587px;
    padding-left: 1.429em;
    padding-right: 1.429em;
    margin-top: 0; }
    .beaches-lading .section-1 .section-content {
      padding: 1.429em;
      background-color: #fff;
      position: absolute;
      bottom: -1.429em;
      left: 1.429em;
      right: 1.429em; }
      @media (min-width: 768px) {
        .beaches-lading .section-1 .section-content {
          bottom: auto;
          top: 50%;
          left: 50%;
          right: auto;
          width: 70%;
          transform: translate(-50%, -50%); } }
      @media (min-width: 1200px) {
        .beaches-lading .section-1 .section-content {
          width: 50em; } }
      @media (min-width: 1600px) {
        .beaches-lading .section-1 .section-content {
          width: 55em; } }
  .beaches-lading .section-2 {
    margin-top: 0; }
  .beaches-lading .section-white-content {
    padding-left: 1.429em;
    padding-right: 1.429em; }
    @media (min-width: 992px) {
      .beaches-lading .section-white-content {
        min-height: 544px;
        margin-top: 0; } }
    @media (min-width: 1200px) {
      .beaches-lading .section-white-content {
        min-height: 550px; } }
    @media (min-width: 1600px) {
      .beaches-lading .section-white-content {
        min-height: 680px; } }
    .beaches-lading .section-white-content .title {
      font-weight: 500; }
      @media (min-width: 992px) {
        .beaches-lading .section-white-content .title {
          font-size: 3.429rem; } }
      @media (min-width: 1600px) {
        .beaches-lading .section-white-content .title {
          font-size: 4.286rem; } }
    .beaches-lading .section-white-content .sub-title {
      margin-bottom: 1.429em;
      font-size: 1.2857rem; }
      @media (min-width: 1600px) {
        .beaches-lading .section-white-content .sub-title {
          font-size: 1.4286rem; } }
    @media (min-width: 992px) {
      .beaches-lading .section-white-content .section-text {
        margin-bottom: 1.5em; }
        .beaches-lading .section-white-content .section-text .sub-title {
          margin-bottom: 0.3em; } }
    .beaches-lading .section-white-content .section-content {
      padding: 1.429em 0.714em;
      background-color: #fff; }
      @media (min-width: 992px) {
        .beaches-lading .section-white-content .section-content {
          position: absolute;
          width: calc(50% - 2.286em);
          top: 2.286em;
          bottom: 2.286em;
          padding-left: 1.429em;
          padding-right: 1.429em; } }
      @media (min-width: 1200px) {
        .beaches-lading .section-white-content .section-content {
          padding: 2.143em; } }
      @media (min-width: 1600px) {
        .beaches-lading .section-white-content .section-content {
          padding: 2.857em; } }
    .beaches-lading .section-white-content .product-collection {
      font-weight: 500;
      font-size: 1.1429rem;
      margin-bottom: 0.5em;
      text-transform: uppercase; }
      @media (min-width: 1600px) {
        .beaches-lading .section-white-content .product-collection {
          font-size: 1.2857rem; } }
    .beaches-lading .section-white-content .product-price {
      font-size: 1.1429rem; }
      @media (min-width: 1600px) {
        .beaches-lading .section-white-content .product-price {
          font-size: 1.2857rem; } }
    @media (min-width: 992px) {
      .beaches-lading .section-white-content .col-product img {
        max-width: 70%;
        margin: 0 auto; } }
    @media (min-width: 992px) {
      .beaches-lading .section-white-content .information {
        padding-right: 2.5em; } }
    @media (min-width: 1200px) {
      .beaches-lading .section-white-content .information {
        padding-right: 3.5em; } }
    .beaches-lading .section-white-content .description {
      margin-top: 1.429em; }
      @media (min-width: 992px) {
        .beaches-lading .section-white-content .description {
          padding-right: 1.5em; } }
    .beaches-lading .section-white-content ul {
      padding-left: 0;
      list-style: none;
      margin-bottom: 0;
      text-align: center;
      text-transform: uppercase;
      font-size: 0.57rem;
      padding-top: 3em; }
      .beaches-lading .section-white-content ul li {
        margin-bottom: 2em; }
        .beaches-lading .section-white-content ul li:last-child {
          margin-bottom: 0; }
      .beaches-lading .section-white-content ul img {
        max-width: 35px;
        margin: 0 auto 5px; }
      .beaches-lading .section-white-content ul span {
        display: block; }
  @media (min-width: 992px) {
    .beaches-lading .section-3 .section-content,
    .beaches-lading .section-7 .section-content,
    .beaches-lading .section-11 .section-content {
      right: 2.286em; } }
  @media (min-width: 992px) {
    .beaches-lading .section-5 .section-content,
    .beaches-lading .section-9 .section-content {
      left: 2.286em; } }
  .beaches-lading .footer-banner {
    text-align: center;
    padding-top: 1.429em;
    padding-bottom: 1.429em; }

.sitemap-page {
  margin-left: 20px; }
  @media (min-width: 768px) {
    .sitemap-page {
      margin-left: auto; } }
  .sitemap-page .sitemap-title {
    margin-top: 40px;
    margin-bottom: 40px; }
    .sitemap-page .sitemap-title h1 {
      font-weight: 100;
      font-size: 4.2857rem; }
  .sitemap-page .item-level-1 {
    list-style: none;
    margin-bottom: 40px;
    padding: 0; }
    .sitemap-page .item-level-1 h5 {
      font-weight: 700;
      text-transform: uppercase;
      margin-bottom: 20px;
      letter-spacing: 0.05rem; }
    .sitemap-page .item-level-1 .item-level-2 {
      margin-bottom: 15px; }
      .sitemap-page .item-level-1 .item-level-2 h6 {
        font-weight: 700;
        text-transform: uppercase; }
      .sitemap-page .item-level-1 .item-level-2 a.active, .sitemap-page .item-level-1 .item-level-2 a:hover {
        color: #999; }

.proxis-country-selector {
  position: relative;
  width: 100%;
  min-height: 100vh; }
  @media (min-width: 992px) {
    .proxis-country-selector .country-selector-content {
      max-width: 1200px;
      margin: 0 auto;
      padding: 0 15px; } }
  .proxis-country-selector .country-selector-page-title {
    text-align: center;
    margin-top: 40px;
    font-size: 1.4286rem; }
    @media (min-width: 992px) {
      .proxis-country-selector .country-selector-page-title {
        font-size: 1.7857rem;
        text-align: left; } }
  .proxis-country-selector .country-selector-section-title {
    margin: 25px 15px 0;
    font-size: 1.2143rem;
    line-height: 2.1429rem;
    padding: 0 15px;
    font-weight: 200;
    border-bottom: 1px solid #000; }
    @media (min-width: 992px) {
      .proxis-country-selector .country-selector-section-title {
        margin: 25px 15px 0;
        max-width: 50%; } }
  .proxis-country-selector .country-selector-list {
    padding: 0 15px;
    margin-top: 25px; }
    @media (min-width: 992px) {
      .proxis-country-selector .country-selector-list {
        max-width: 50%; } }
  .proxis-country-selector .country-list-content {
    font-weight: 200; }
    @media (min-width: 992px) {
      .proxis-country-selector .country-list-content {
        width: 50%;
        float: left; } }
    header ~ .container .proxis-country-selector .country-list-content a:hover {
      color: #999; }
  @media (min-width: 992px) {
    .proxis-country-selector .country-selector-bg {
      position: absolute;
      right: 0;
      bottom: 0;
      max-height: 100%; } }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "GT-America-Extended"; }

footer * {
  font-family: "GT-America"; }
